@use "../../../styles/colors";

.nav {
  margin: 1.6rem 0 2.4rem;
  background-color: colors.$lighter;
  padding: 0 16rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 600px) {
  .nav {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    padding-right: 2rem;
  }
}
