<form
  class="form"
  (ngSubmit)="onSizeSelectorFormSubmit()"
  [formGroup]="sizeSelectorForm"
>
  <p class="form__label">
    <span class="form__label__label">Size<span class="asterisk">*</span></span>
    {{ selectedSize }}
  </p>
  <div class="form__selector">
    <button
      type="button"
      class="form__selector__btn"
      *ngFor="let size of sizes"
      [ngClass]="{ 'form__selector__btn--selected': selectedSize === size }"
      (click)="onSizeSelect(size)"
    >
      {{ size | uppercase }}
    </button>
  </div>
  <button type="submit" class="form__submit-btn">add to cart</button>
</form>
